/* This is here to give everything a red border, just to make it easier to see while developing. */

/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */
.link {
  border-radius: 100px;
  border: 2px solid #8AC007;
  padding: 10px;
  background: blue;
  color: white;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
  margin: auto;
}
